h1 {
    font-family: 'Stencil', arial;
    margin-left: 100px;
    margin-bottom: -0px;
}

.typeCompet{
    width: 20%;
    height: 5%;
    margin-left: 50px;
    background-color: white;
    border: 3px solid #03224C;
    font-size: 18px;
    border-radius: 30px;
}

.moisSelect{
    width: 20%;
    height: 5%;
    margin-left: 15%;
    background-color: white;
    border: 3px solid #03224C;
    font-size: 18px;
    border-radius: 30px;
}

.admin {
    width: 50%;
    margin-left: 23%;
}

.btnRefresh{
    margin-left: 15.5%;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 5%;
    width: 65%;
    background-color: #03224C;
    color: white;
    border-color: #03224C;
}

.btnCreaTournoi{
    margin-left: 15.5%;
    font-size: 20px;
    margin-top: -25px;
    margin-bottom: 20px;
    height: 5%;
    width: 65%;
    background-color: #03224C;
    color: white;
    border-color: #03224C;
}

.btnSuppr{
    margin-left: 82.6%;
    font-size: 20px;
    height: 5%;
    width: 15%;
    background-color: #03224C;
    color: white;
    border-color: #03224C;
}