.logo {
    width:100px;
    float:left;
    margin-top:-157px;
    margin-left:210px;
}

nav {

    height:60px;
    margin: 0 auto;
}

.nom {
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #03224C;
    margin-left: 1px;
    margin-right: 1px;
    border: solid 3px white;
}

.bandeRouge{
    border: solid 3px red;
}

.nom h1 {
    font-family: 'Stencil', arial;
    text-align: center;
    font-size: 1cm;
}
.nom h2 {
    text-align: center;
    font-size: 0.75cm;
    font-family: 'Arizonia', arial; src:("./Vue/img/police2.ttf");
}

nav ul {
    list-style: none;
    margin-left:0%; /* 2s */
    padding-left: 27%;
    margin-left:-15%;
}

nav ul li {
    display: inline-block;
    margin-bottom:10px;
    font-size: 22px;
    
}

nav ul li a {
    display: block;
    padding: 0px 15px 15px 15px; /* Change la position de la nav. */
    text-decoration: none;
    color:dimgray;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}
  
  nav.fill ul li a {
    transition: all 2s;
}
  
nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #023f1c;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position:absolute;
    width: 10%;
    padding-left: 15px;
    margin-left: 0.25px;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

